<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MapleDeaktop2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MapleDeaktop2._0.Properties.Settings>
      <setting name="QuickLink1" serializeAs="String">
        <value>Enter Url...</value>
      </setting>
      <setting name="QuickLink2" serializeAs="String">
        <value>Enter Url...</value>
      </setting>
      <setting name="QuickLink3" serializeAs="String">
        <value>Enter Url...</value>
      </setting>
      <setting name="QuickLink4" serializeAs="String">
        <value>Enter Url...</value>
      </setting>
      <setting name="QuickLink5" serializeAs="String">
        <value>Enter Url...</value>
      </setting>
      <setting name="QuickLink6" serializeAs="String">
        <value>Enter Url...</value>
      </setting>
      <setting name="QuickLink1Name" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="QuickLink2Name" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="QuickLink3Name" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="QuickLink4Name" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="QuickLink5Name" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="QuickLink6Name" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="QuickApp1Name" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickApp2Name" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickApp3Name" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickApp1" serializeAs="String">
        <value>Enter Path...</value>
      </setting>
      <setting name="QuickApp2" serializeAs="String">
        <value>Enter Path...</value>
      </setting>
      <setting name="QuickApp3" serializeAs="String">
        <value>Enter Path...</value>
      </setting>
      <setting name="YouTubeApiKey" serializeAs="String">
        <value>AIzaSyCTEZNcC9Le1GPrU7qdFruVyo52NzFUQtY</value>
      </setting>
      <setting name="YouTubeApiKey2" serializeAs="String">
        <value>AIzaSyBr5FK93FZvdZtsEMV8uQX61k-4JTM--lA</value>
      </setting>
      <setting name="YouTubeApiKey3" serializeAs="String">
        <value>AIzaSyAZU3JNyiv-JiMZg5h7YIP3fUWZr0IwDM4</value>
      </setting>
      <setting name="YouTubeApiKey4" serializeAs="String">
        <value>AIzaSyAS-EGRuAajTCrjOD5k7pJhPvFc1dWH_1U</value>
      </setting>
      <setting name="YouTubeApiKey5" serializeAs="String">
        <value>AIzaSyBWpZx2jJl_gKneHMVKsKGIJvKO1Yjapp4</value>
      </setting>
      <setting name="YouTubeApiKey6" serializeAs="String">
        <value>AIzaSyAV_MAEY-AOpvWs6KrgigAUcqqxYInaTqo</value>
      </setting>
      <setting name="YouTubeApiKey7" serializeAs="String">
        <value>AIzaSyAf4B4EJLnL1FWi9np3Xh6zfW2BaYBDXGM</value>
      </setting>
      <setting name="YouTubeApiKey8" serializeAs="String">
        <value>AIzaSyAqUR0P7szTnmyv6AZb38JuuNycJVo12WU</value>
      </setting>
      <setting name="YouTubeApiKey9" serializeAs="String">
        <value>AIzaSyAaih4FrKO1MLdepApopbgjTNVdFHutenc</value>
      </setting>
      <setting name="YouTubeApiKey10" serializeAs="String">
        <value>AIzaSyBqTcC84xgHfn6uk3H0mNHlfesYNVtZaA4</value>
      </setting>
      <setting name="YouTubeApiKey11" serializeAs="String">
        <value>AIzaSyAOzDby3TIhafOjNAlJndXIfRRDI6Tmyr4</value>
      </setting>
      <setting name="OpenAiToken" serializeAs="String">
        <value>Void</value>
      </setting>
      <setting name="TokenSaved" serializeAs="String">
        <value>False</value>
      </setting>
    </MapleDeaktop2._0.Properties.Settings>
  </userSettings>
</configuration>
